<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>About</title>
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/works">Works</a>
    </nav>

    <div id="Vicky" class="information">
      <h3>¡Yo soy Vicky!</h3>

      <p>
        Vivo en Galicia (Pontevedra), tengo 32 años y dos peques de 5 y 3 años.
      </p>

      <p>Soy Pedagoga, me encanta el mundo infantil y hacer el payaso.</p>

      <p>
        En mi tiempo libre suelo disfrutar con mis hijos y hacer canciones
        infantiles.
      </p>

      <p>Disfruto comiendo comida china y viajando con mi familia.</p>

      <img src="/images/Vicky.jpg" width="150px" height="180px" />
      <img src="/images/xocarvi.jpg" width="150px" height="180px" />
    </div>

    <div id="Raquel" class="information">
      <h4>¡Yo soy Raquel!</h4>

      <p>Vivo en Madrid, y tengo 30 años</p>

      <p>Estudié tema deportivo, pero he ejercido poco de ello</p>

      <p>He jugado al fútbol toda la vida, en segunda división</p>

      <p>pero mi verdadera pasión son los animales.</p>

      <p>Os voy a presentar al pequeño de la casa</p>

      <img src="/images/athos.jpg" width="150px" />
      <img src="/images/athos-yo.jpg" width="150px" />
    </div>
  </body>
</html>
