<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/styles.css" />
    <title>Document</title>
</head>
<body>

    <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
    </nav>
    
    <h5>Más cosas sobre Raquel</h5>

    <p>He trabajado siempre cara al público.</p>

    <p>Pero de lo que más he disfrutado es cuando he trabajado de entrenadora de fútbol de niños pequeños
        o cuando he trabajado en extraescolares para los peques.
    </p>

    <p> Lo que más me aposiona son los animales y la vida al aire libre.</p>



</body>
</html>